@import url("https://use.fontawesome.com/releases/v6.0.0/css/all.css");

header {
    height: 50px;
    background-color: black;
    width: 100%;
    padding: 1px 15px 30px 2px;
    align-items: center;
    border-bottom: 1px solid;
    position: fixed;
    h1 {
        color: white;
        font-family: Arial, sans-serif;
        text-align: center;
    }

}

.table-container {
    overflow-x: auto;
    align-items: center;
    z-index: 1;
    padding: 70px 3px 3px 3px;
    gap: 1rem;
    min-height: 100vh;
}

table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    margin: 1rem 0;
    
    th {
        background-color: rgb(212, 204, 204);
    }
    th, td {
        border: 1px solid #ddd;
        text-align: left;
        padding: 10px;
    }

    th {
        cursor: pointer;
        text-align: center;
    }

    th:hover {
        background-color: rgb(182, 174, 174);
    }

    tr:hover {
        background-color: #f2f2f2;
    }
    

    img {
        max-width: 100px;
    }
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    padding: 1px 0px 20px 0px;

    h3 {
        text-align: center;
        margin-top: 10px; 
        padding-top: 15px ;
    }
} 
.linkedin {
    margin-right: 20px;
    color: white;
    text-align: center;
}
.github {
    text-align: center;
    color: white;
}

.loader {
    text-align: center;
    align-items: center;
    padding-left: 800px;
}

@media (max-width: 600px) {
    header {
        height: 100px;
    }

    .table-container {
        padding: 125px 5px 10px 5px ;
    }

    table {
        font-size: 1rem;
    }

    img {
        max-width: 50px;
    }

    .loader {
        padding-left: 130px;
    }
}


